@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ebebeb;
  /* overflow: hidden; */ /* TODO: only on homepage */
}

div.wrap {
  height: 100%;
  overflow: hidden;
}

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
  }
